.App {
  margin: 20px;
  text-align: center;
  background-color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (max-width:600px) {
  .App {
    margin: 20px;
    text-align: center;
    background-color: red;
  }
  input{
    width: 50%;
  }
} */
